<div class="container text-center">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="cocktail-header">
          <h1><%= @cocktail.name %></h1>
          <% if policy(@cocktail).update? %>
            <%= link_to "Update", edit_cocktail_path(@cocktail) %>
          <% end %>
          <% if policy(@cocktail).destroy? %>
            <%= link_to "Delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
        <div class="cocktail-doses">
          <% @cocktail.doses.each do |dose| %>
         <p> <%= dose.description %> :
          <%= dose.ingredient.name %>
          </p>
          <%# if policy(dose).destroy? %>
            <%= link_to "Delete dose", dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure ?" } %>
            <% end %>
          <%# end %>
        </div>
        <% if policy(@dose).create? %>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient %>
          <%= f.input :description %>
          <%= f.button :submit %>
          <% end %>
        <% end %>
      <div><%= link_to "", root_path, :class => "fas fa-arrow-circle-left btn-back" %></div>
    </div>
  </div>
</div>



