<div class="container text-center">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="cocktail-header">
          <h1><%= @cocktail.name %></h1>
        </div>
        <div class="cocktail-doses">
          <% @cocktail.doses.each do |dose| %>
         <p> <%= dose.description %> :
          <%= dose.ingredient.name %>
          </p>
          <%= link_to "", dose_path(dose), :class => "far fa-trash-alt",
          method: :delete,
          data: { confirm: "Are you sure, dude?" } %>
          <% end %>
        </div>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.button :submit %>
        <% end %>
      <div><%= link_to "", cocktails_path, :class => "fas fa-arrow-circle-left btn-back" %></div>
    </div>
  </div>
</div>



